/* блок команда */

.team {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $light-gray;
}
.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
}
.team-schedule {
  // display: flex;
}
.team-item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.team-photo {
  margin-bottom: 30px;
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
}
.employment {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  & > li:not(:last-child) {
    margin-right: 10px;
  }
}
.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: $socials-links;
  background-color: $white;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .links-icons {
    width: 20px;
    height: 20px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: $accent;

    .links-icons {
      fill: $white;
    }
  }
}
