/* блок проэкты */

.projects-section {
  padding-bottom: 60px;
}
// .projects-schedule {
//   display: flex;
//   flex-wrap: wrap;
//   margin: -15px;
// }
.projects-item {
  border: 1px solid #eeeeee;
  width: 450px;
  margin-bottom: 30px;
  background: $white;

  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-title {
  padding-left: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $black;
}
.projects {
  padding-left: 24px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $gray-text;
}
.projects-link {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;

  &:hover .subitem,
  &:focus .subitem {
    transform: translateY(0);
    opacity: 1;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.projects-thumb {
  position: relative;
  overflow: hidden;

  &:hover .subitem,
  &:focus .subitem {
    opacity: 1;
  }
}
.subitem {
  position: absolute;
  padding: 63px 24px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $white;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .projects-section {
//   padding-bottom: 94px;
// }
// .projects-schedule {
//   display: flex;
//   flex-wrap: wrap;
//   margin: -15px;
// }
// .projects-item {
//   border: 1px solid #eeeeee;
//   width: 370px;
//   background: $white;

//   overflow: hidden;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .projects-title {
//   padding-left: 24px;
//   margin-bottom: 4px;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: $black;
// }
// .projects {
//   padding-left: 24px;
//   margin-bottom: 20px;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: $gray-text;
// }
// .projects-link {
//   text-decoration: none;

//   flex-basis: calc((100% - 6 * 15px) / 3);
//   margin: 15px;

//   .projects-thumb {
//     position: relative;
//     overflow: hidden;

//     .subitem {
//       position: absolute;
//       padding: 63px 24px;
//       bottom: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       margin: 0;
//       opacity: 0;
//       font-weight: 400;
//       font-size: 18px;
//       line-height: 1.56;
//       letter-spacing: 0.03em;

//       color: $white;
//       background-color: rgba(33, 150, 243, 0.9);
//       transform: translateY(100%);
//       transition: opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &:hover .subitem,
//     &:focus .subitem {
//       opacity: 1;
//     }
//   }

//   &:hover .subitem,
//   &:focus .subitem {
//     transform: translateY(0);
//     opacity: 1;
//   }

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }
