/* блок особенности */

.features-section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.features-schedule {
  // display: flex;

  .features-item {
    // text-align: center;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
    &::before {
      display: block;
      content: "";
      height: 120px;
      margin-bottom: 30px;
      background-color: $light-gray;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(1)::before {
      background-image: url("../images/icons/antenna\ 1.svg");
    }
    &:nth-child(2)::before {
      background-image: url("../images/icons/clock\ 1.svg");
    }
    &:nth-child(3)::before {
      background-image: url("../images/icons/diagram\ 1.svg");
    }
    &:nth-child(4)::before {
      background-image: url("../images/icons/astronaut\ 1.svg");
    }
  }
}
.features {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
.features-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $gray-text;
}
