/* шапка */

.menu-mobile {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.main-top {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo-top {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $black;
  text-decoration: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent;
  text-decoration: none;
}
.site-nav {
  display: flex;
  margin-left: 93px;

  & .item:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $black;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent;
  }

  &.current {
    color: $accent;
  }
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $accent;
  border-radius: 2px;
}
.schedule-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  & li:not(:last-child) {
    margin-right: 30px;
  }
}
.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $gray-text;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent;

    .contacts-icon {
      fill: $accent;
    }
  }
}
.contacts-icon {
  margin-right: 10px;
  fill: $gray-text;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
