/* утилиты */

// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

body {
  font-family: "Roboto", sans-serif;
  color: $gray-text;
  background-color: $white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
