/* background color: 
#ffffff - main
#2f303a - hero and footer;
#F5F4FA - our team
text color:
#212121 - title
#2196F3 - accent
#757575 - text paragraph
#ffffff - hero
#AFB1B8 - social links
rgba(255, 255, 255, 0.6); - footer contacts */

$accent: #2196f3;
$white: #ffffff;
$dark-gray: #2f303a;
$light-gray: #f5f4fa;
$black: #212121;
$gray-text: #757575;
$socials-links: #afb1b8;
$footer-contacts: rgba(255, 255, 255, 0.6);
$footer-socials: rgba(255, 255, 255, 0.1);
